In [1]:
# import packages
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn import metrics
import statsmodels.api as sm

pd.options.display.max_rows = 1000 # show truncated results

In [2]:
# read data (csv)
data = pd.read_csv('../data/data.csv', encoding="ISO-8859-1") # error-free encoding
data.head(5)

,iid,id,gender,idg,condtn,wave,round,position,positin1,order,...,attr3_3,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3
0,1,1.0,0,1,1,1,10,7,NaN,4,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
1,1,1.0,0,1,1,1,10,7,NaN,3,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
2,1,1.0,0,1,1,1,10,7,NaN,10,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
3,1,1.0,0,1,1,1,10,7,NaN,5,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
4,1,1.0,0,1,1,1,10,7,NaN,7,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN

In [3]:
# ============ Data Engineering ==================

In [4]:
pd.crosstab(index=data['match'],columns="count")

col_0  count
match
0       6998
1       1380

In [5]:
key = data.keys()
idx = range(0,len(key))
z = zip(idx, key)
for i in z:
	print(i)

(0, 'iid')
(1, 'id')
(2, 'gender')
(3, 'idg')
(4, 'condtn')
(5, 'wave')
(6, 'round')
(7, 'position')
(8, 'positin1')
(9, 'order')
(10, 'partner')
(11, 'pid')
(12, 'match')
(13, 'int_corr')
(14, 'samerace')
(15, 'age_o')
(16, 'race_o')
(17, 'pf_o_att')
(18, 'pf_o_sin')
(19, 'pf_o_int')
(20, 'pf_o_fun')
(21, 'pf_o_amb')
(22, 'pf_o_sha')
(23, 'dec_o')
(24, 'attr_o')
(25, 'sinc_o')
(26, 'intel_o')
(27, 'fun_o')
(28, 'amb_o')
(29, 'shar_o')
(30, 'like_o')
(31, 'prob_o')
(32, 'met_o')
(33, 'age')
(34, 'field')
(35, 'field_cd')
(36, 'undergra')
(37, 'mn_sat')
(38, 'tuition')
(39, 'race')
(40, 'imprace')
(41, 'imprelig')
(42, 'from')
(43, 'zipcode')
(44, 'income')
(45, 'goal')
(46, 'date')
(47, 'go_out')
(48, 'career')
(49, 'career_c')
(50, 'sports')
(51, 'tvsports')
(52, 'exercise')
(53, 'dining')
(54, 'museums')
(55, 'art')
(56, 'hiking')
(57, 'gaming')
(58, 'clubbing')
(59, 'reading')
(60, 'tv')
(61, 'theater')
(62, 'movies')
(63, 'concerts')
(64, 'music')
(65, 'shopping')
(66, 'yoga')
(67, 'exphappy')
(68, 'expnum')
(69, 'attr1_1')
(70, 'sinc1_1')
(71, 'intel1_1')
(72, 'fun1_1')
(73, 'amb1_1')
(74, 'shar1_1')
(75, 'attr4_1')
(76, 'sinc4_1')
(77, 'intel4_1')
(78, 'fun4_1')
(79, 'amb4_1')
(80, 'shar4_1')
(81, 'attr2_1')
(82, 'sinc2_1')
(83, 'intel2_1')
(84, 'fun2_1')
(85, 'amb2_1')
(86, 'shar2_1')
(87, 'attr3_1')
(88, 'sinc3_1')
(89, 'fun3_1')
(90, 'intel3_1')
(91, 'amb3_1')
(92, 'attr5_1')
(93, 'sinc5_1')
(94, 'intel5_1')
(95, 'fun5_1')
(96, 'amb5_1')
(97, 'dec')
(98, 'attr')
(99, 'sinc')
(100, 'intel')
(101, 'fun')
(102, 'amb')
(103, 'shar')
(104, 'like')
(105, 'prob')
(106, 'met')
(107, 'match_es')
(108, 'attr1_s')
(109, 'sinc1_s')
(110, 'intel1_s')
(111, 'fun1_s')
(112, 'amb1_s')
(113, 'shar1_s')
(114, 'attr3_s')
(115, 'sinc3_s')
(116, 'intel3_s')
(117, 'fun3_s')
(118, 'amb3_s')
(119, 'satis_2')
(120, 'length')
(121, 'numdat_2')
(122, 'attr7_2')
(123, 'sinc7_2')
(124, 'intel7_2')
(125, 'fun7_2')
(126, 'amb7_2')
(127, 'shar7_2')
(128, 'attr1_2')
(129, 'sinc1_2')
(130, 'intel1_2')
(131, 'fun1_2')
(132, 'amb1_2')
(133, 'shar1_2')
(134, 'attr4_2')
(135, 'sinc4_2')
(136, 'intel4_2')
(137, 'fun4_2')
(138, 'amb4_2')
(139, 'shar4_2')
(140, 'attr2_2')
(141, 'sinc2_2')
(142, 'intel2_2')
(143, 'fun2_2')
(144, 'amb2_2')
(145, 'shar2_2')
(146, 'attr3_2')
(147, 'sinc3_2')
(148, 'intel3_2')
(149, 'fun3_2')
(150, 'amb3_2')
(151, 'attr5_2')
(152, 'sinc5_2')
(153, 'intel5_2')
(154, 'fun5_2')
(155, 'amb5_2')
(156, 'you_call')
(157, 'them_cal')
(158, 'date_3')
(159, 'numdat_3')
(160, 'num_in_3')
(161, 'attr1_3')
(162, 'sinc1_3')
(163, 'intel1_3')
(164, 'fun1_3')
(165, 'amb1_3')
(166, 'shar1_3')
(167, 'attr7_3')
(168, 'sinc7_3')
(169, 'intel7_3')
(170, 'fun7_3')
(171, 'amb7_3')
(172, 'shar7_3')
(173, 'attr4_3')
(174, 'sinc4_3')
(175, 'intel4_3')
(176, 'fun4_3')
(177, 'amb4_3')
(178, 'shar4_3')
(179, 'attr2_3')
(180, 'sinc2_3')
(181, 'intel2_3')
(182, 'fun2_3')
(183, 'amb2_3')
(184, 'shar2_3')
(185, 'attr3_3')
(186, 'sinc3_3')
(187, 'intel3_3')
(188, 'fun3_3')
(189, 'amb3_3')
(190, 'attr5_3')
(191, 'sinc5_3')
(192, 'intel5_3')
(193, 'fun5_3')
(194, 'amb5_3')

In [6]:
# count nulls
data.isnull().sum()

iid            0
id             1
gender         0
idg            0
condtn         0
wave           0
round          0
position       0
positin1    1846
order          0
partner        0
pid           10
match          0
int_corr     158
samerace       0
age_o        104
race_o        73
pf_o_att      89
pf_o_sin      89
pf_o_int      89
pf_o_fun      98
pf_o_amb     107
pf_o_sha     129
dec_o          0
attr_o       212
sinc_o       287
intel_o      306
fun_o        360
amb_o        722
shar_o      1076
like_o       250
prob_o       318
met_o        385
age           95
field         63
field_cd      82
undergra    3464
mn_sat      5245
tuition     4795
race          63
imprace       79
imprelig      79
from          79
zipcode     1064
income      4099
goal          79
date          97
go_out        79
career        89
career_c     138
sports        79
tvsports      79
exercise      79
dining        79
museums       79
art           79
hiking        79
gaming        79
clubbing      79
reading       79
tv            79
theater       79
movies        79
concerts      79
music         79
shopping      79
yoga          79
exphappy     101
expnum      6578
attr1_1       79
sinc1_1       79
intel1_1      79
fun1_1        89
amb1_1        99
shar1_1      121
attr4_1     1889
sinc4_1     1889
intel4_1    1889
fun4_1      1889
amb4_1      1889
shar4_1     1911
attr2_1       79
sinc2_1       79
intel2_1      79
fun2_1        79
amb2_1        89
shar2_1       89
attr3_1      105
sinc3_1      105
fun3_1       105
intel3_1     105
amb3_1       105
attr5_1     3472
sinc5_1     3472
intel5_1    3472
fun5_1      3472
amb5_1      3472
dec            0
attr         202
sinc         277
intel        296
fun          350
amb          712
shar        1067
like         240
prob         309
met          375
match_es    1173
attr1_s     4282
sinc1_s     4282
intel1_s    4282
fun1_s      4282
amb1_s      4282
shar1_s     4282
attr3_s     4378
sinc3_s     4378
intel3_s    4378
fun3_s      4378
amb3_s      4378
satis_2      915
length       915
numdat_2     945
attr7_2     6394
sinc7_2     6423
intel7_2    6394
fun7_2      6394
amb7_2      6423
shar7_2     6404
attr1_2      933
sinc1_2      915
intel1_2     915
fun1_2       915
amb1_2       915
shar1_2      915
attr4_2     2603
sinc4_2     2603
intel4_2    2603
fun4_2      2603
amb4_2      2603
shar4_2     2603
attr2_2     2603
sinc2_2     2603
intel2_2    2603
fun2_2      2603
amb2_2      2603
shar2_2     2603
attr3_2      915
sinc3_2      915
intel3_2     915
fun3_2       915
amb3_2       915
attr5_2     4001
sinc5_2     4001
intel5_2    4001
fun5_2      4001
amb5_2      4001
you_call    4404
them_cal    4404
date_3      4404
numdat_3    6882
num_in_3    7710
attr1_3     4404
sinc1_3     4404
intel1_3    4404
fun1_3      4404
amb1_3      4404
shar1_3     4404
attr7_3     6362
sinc7_3     6362
intel7_3    6362
fun7_3      6362
amb7_3      6362
shar7_3     6362
attr4_3     5419
sinc4_3     5419
intel4_3    5419
fun4_3      5419
amb4_3      5419
shar4_3     5419
attr2_3     5419
sinc2_3     5419
intel2_3    5419
fun2_3      5419
amb2_3      5419
shar2_3     6362
attr3_3     4404
sinc3_3     4404
intel3_3    4404
fun3_3      4404
amb3_3      4404
attr5_3     6362
sinc5_3     6362
intel5_3    6362
fun5_3      6362
amb5_3      6362
dtype: int64

In [7]:
# keep relevant columns
data = pd.concat([data.iloc[:, 0], # iid
                  data.iloc[:, 2], # gender
                  data.iloc[:, 5], # wave
                  data.iloc[:, 11:15], # pid, match, int_corr, samerace
                  data.iloc[:, 24:30], # attr_o (obj measure from partner)
                  data.iloc[:, 33], # age
                  data.iloc[:, 35], # field_cd
                  data.iloc[:, 39], # race
                  data.iloc[:, 40:42], # imprace, imprelig
                  data.iloc[:, 46:48], # date, go_out
                  #data.iloc[:, 49], # career_c (missing a lot)
                  data.iloc[:, 50:67], # 17 interests
                  data.iloc[:, 70:75], # attr1_1 (subjective preference)
                  data.iloc[:, 87:92] # attr3_1 (subjective measure)
                  ], 
                  axis=1)

In [8]:
# drop null rows
data = data.dropna()

In [9]:
data.head(5)

,iid,gender,wave,pid,match,int_corr,samerace,attr_o,sinc_o,intel_o,...,sinc1_1,intel1_1,fun1_1,amb1_1,shar1_1,attr3_1,sinc3_1,fun3_1,intel3_1,amb3_1
0,1,0,1,11.0,0,0.14,0,6.0,8.0,8.0,...,20.0,20.0,15.0,15.0,15.0,6.0,8.0,8.0,8.0,7.0
1,1,0,1,12.0,0,0.54,0,7.0,8.0,10.0,...,20.0,20.0,15.0,15.0,15.0,6.0,8.0,8.0,8.0,7.0
2,1,0,1,13.0,1,0.16,1,10.0,10.0,10.0,...,20.0,20.0,15.0,15.0,15.0,6.0,8.0,8.0,8.0,7.0
3,1,0,1,14.0,1,0.61,0,7.0,8.0,9.0,...,20.0,20.0,15.0,15.0,15.0,6.0,8.0,8.0,8.0,7.0
4,1,0,1,15.0,1,0.21,0,8.0,7.0,9.0,...,20.0,20.0,15.0,15.0,15.0,6.0,8.0,8.0,8.0,7.0

In [10]:
# profile data

In [11]:
key = data.keys()
idx = range(0,len(key))
z = zip(idx, key)
for i in z:
	print(i)

(0, 'iid')
(1, 'gender')
(2, 'wave')
(3, 'pid')
(4, 'match')
(5, 'int_corr')
(6, 'samerace')
(7, 'attr_o')
(8, 'sinc_o')
(9, 'intel_o')
(10, 'fun_o')
(11, 'amb_o')
(12, 'shar_o')
(13, 'age')
(14, 'field_cd')
(15, 'race')
(16, 'imprace')
(17, 'imprelig')
(18, 'date')
(19, 'go_out')
(20, 'sports')
(21, 'tvsports')
(22, 'exercise')
(23, 'dining')
(24, 'museums')
(25, 'art')
(26, 'hiking')
(27, 'gaming')
(28, 'clubbing')
(29, 'reading')
(30, 'tv')
(31, 'theater')
(32, 'movies')
(33, 'concerts')
(34, 'music')
(35, 'shopping')
(36, 'yoga')
(37, 'sinc1_1')
(38, 'intel1_1')
(39, 'fun1_1')
(40, 'amb1_1')
(41, 'shar1_1')
(42, 'attr3_1')
(43, 'sinc3_1')
(44, 'fun3_1')
(45, 'intel3_1')
(46, 'amb3_1')

In [12]:
profile = pd.concat([data.iloc[:, 0:3], # gender, wave
                     data.iloc[:, 7:47]
                    ], 
                    axis=1)
iids = profile['iid'].unique()
print(len(iids)) # remaining number of people
print(iids)      # original iids

536
[  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  29  30  31  32  33  34  35  36  37
  38  39  41  42  43  44  45  46  47  48  49  50  51  52  53  54  55  56
  57  60  61  62  63  64  65  66  67  68  69  70  71  72  73  74  75  76
  77  78  79  80  81  82  83  84  85  86  87  88  89  90  91  92  93  94
  95  96  97  98  99 100 101 102 103 104 105 106 107 108 109 110 111 112
 113 114 115 116 117 119 120 121 122 123 124 125 126 127 128 131 132 133
 134 135 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152
 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170
 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188
 189 190 191 192 193 194 195 196 197 198 199 200 201 202 203 204 205 206
 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223 224
 225 226 227 228 229 230 231 232 233 234 235 236 237 238 239 240 241 242
 243 244 245 246 247 248 249 250 251 252 253 254 255 256 257 258 259 260
 261 262 263 264 265 266 267 268 269 270 271 272 273 274 275 276 277 278
 279 280 281 282 283 284 285 286 287 288 289 290 291 292 293 294 295 296
 297 298 299 300 301 302 303 304 305 306 307 308 309 310 311 312 313 314
 315 316 317 318 319 320 321 322 323 324 325 326 327 328 329 330 331 332
 333 334 335 336 337 338 341 342 343 344 345 347 348 349 350 351 352 353
 354 355 356 357 358 359 360 361 362 363 364 365 366 367 368 369 370 371
 372 373 374 375 376 377 378 379 380 381 382 383 384 385 386 387 388 389
 390 391 392 393 394 395 396 397 398 399 400 401 402 403 404 405 406 407
 408 409 410 411 412 415 417 418 419 420 421 422 423 424 425 426 427 428
 429 430 431 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446
 447 448 449 450 451 452 453 454 455 456 457 458 459 460 461 462 463 464
 465 466 467 468 469 470 471 472 473 474 475 476 477 478 479 480 481 482
 483 484 485 486 487 488 489 490 491 492 493 494 495 496 497 498 499 500
 501 502 503 504 505 506 507 508 509 510 511 513 514 515 516 517 518 519
 520 521 522 523 524 525 526 527 529 530 531 532 533 534 535 536 537 538
 539 540 541 542 543 544 545 546 547 548 549 550 551 552]

In [13]:
keys = profile.keys()
idx = range(0,len(keys))
z = zip(idx, keys)
for i in z:
	print(i)

(0, 'iid')
(1, 'gender')
(2, 'wave')
(3, 'attr_o')
(4, 'sinc_o')
(5, 'intel_o')
(6, 'fun_o')
(7, 'amb_o')
(8, 'shar_o')
(9, 'age')
(10, 'field_cd')
(11, 'race')
(12, 'imprace')
(13, 'imprelig')
(14, 'date')
(15, 'go_out')
(16, 'sports')
(17, 'tvsports')
(18, 'exercise')
(19, 'dining')
(20, 'museums')
(21, 'art')
(22, 'hiking')
(23, 'gaming')
(24, 'clubbing')
(25, 'reading')
(26, 'tv')
(27, 'theater')
(28, 'movies')
(29, 'concerts')
(30, 'music')
(31, 'shopping')
(32, 'yoga')
(33, 'sinc1_1')
(34, 'intel1_1')
(35, 'fun1_1')
(36, 'amb1_1')
(37, 'shar1_1')
(38, 'attr3_1')
(39, 'sinc3_1')
(40, 'fun3_1')
(41, 'intel3_1')
(42, 'amb3_1')

In [14]:
# profile data (subj + obj)
profile = profile.groupby('iid').mean()
profile.head(5)

,gender,wave,attr_o,sinc_o,intel_o,fun_o,amb_o,shar_o,age,field_cd,...,sinc1_1,intel1_1,fun1_1,amb1_1,shar1_1,attr3_1,sinc3_1,fun3_1,intel3_1,amb3_1
iid,,,,,,,,,,,,,,,,,,,,,
1,0,1,6.700000,7.400000,8.000000,7.200000,8.000000,7.1,21.0,1.0,...,20.0,20.0,15.0,15.0,15.0,6.0,8.0,8.0,8.0,7.0
2,0,1,7.700000,7.100000,7.900000,7.500000,7.500000,6.5,24.0,1.0,...,5.0,25.0,20.0,0.0,5.0,7.0,5.0,10.0,8.0,3.0
3,0,1,6.555556,6.777778,7.222222,6.222222,7.111111,6.0,25.0,2.0,...,10.0,35.0,10.0,10.0,0.0,8.0,9.0,8.0,9.0,8.0
4,0,1,7.000000,7.100000,7.700000,7.500000,7.700000,7.2,23.0,1.0,...,20.0,20.0,20.0,10.0,10.0,7.0,8.0,9.0,7.0,8.0
5,0,1,5.300000,7.700000,7.600000,7.200000,7.800000,6.2,21.0,1.0,...,5.0,25.0,25.0,10.0,15.0,6.0,3.0,6.0,10.0,8.0

In [15]:
ids = range(0, len(profile))
profile.insert(loc=0, column='id', value=ids) # relabel iid (start from 0, consecutive number)

In [16]:
# pair data
meet = pd.concat([data.iloc[:, 0], # id
                  data.iloc[:, 3], # pid
                  data.iloc[:, 4] # match
                  ], 
                  axis=1)

for index, row in meet.iterrows():
    if len(np.where(iids == row['pid'])[0]) != 1: # invalid pid
        meet.drop(index, inplace=True)
        
for index, row in meet.iterrows():
    if len(np.where(iids == row['iid'])[0]) != 1: # invalid iid
        meet.drop(index, inplace=True)
        print("should not be here")

pid = meet.pop('pid')  
#idys = [np.where(iid == p)[0] for p in pid]
idys = [list(iids).index(p) for p in pid]
iid = meet.pop('iid')
idxs = [list(iids).index(p) for p in iid]
meet.insert(loc=0, column='pid', value=idys) # new pid
meet.insert(loc=0, column='iid', value=idxs) # new iid

In [17]:
wave = profile['wave'].values
print(wave)

[ 1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  2  2  2  2
  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2
  2  2  2  2  2  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  4
  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4
  4  4  4  4  4  4  4  4  4  4  4  5  5  5  5  5  5  5  5  5  5  5  5  5
  5  5  5  5  6  6  6  6  6  6  6  6  6  7  7  7  7  7  7  7  7  7  7  7
  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  8  8  8
  8  8  8  8  8  8  8  8  8  8  8  8  8  8  8  8  8  9  9  9  9  9  9  9
  9  9  9  9  9  9  9  9  9  9  9  9  9  9  9  9  9  9  9  9  9  9  9  9
  9  9  9  9  9  9  9  9  9 10 10 10 10 10 10 10 10 10 10 10 10 10 10 10
 10 10 10 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11
 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 12 12 12
 12 12 12 12 12 12 12 12 12 12 12 12 12 12 12 12 12 12 12 12 12 12 12 12
 12 13 13 13 13 13 13 13 13 13 13 13 13 13 13 13 13 13 14 14 14 14 14 14
 14 14 14 14 14 14 14 14 14 14 14 14 14 14 14 14 14 14 14 14 14 14 14 14
 14 14 14 14 14 14 14 15 15 15 15 15 15 15 15 15 15 15 15 15 15 15 15 15
 15 15 15 15 15 15 15 15 15 15 15 15 15 15 15 15 15 15 16 16 16 16 16 16
 16 16 16 16 16 16 16 17 17 17 17 17 17 17 17 17 17 17 17 17 17 17 17 17
 17 17 17 17 17 17 17 18 18 18 18 18 18 18 18 18 18 18 18 19 19 19 19 19
 19 19 19 19 19 19 19 19 19 19 19 19 19 19 19 19 19 19 19 19 19 19 19 19
 19 20 20 20 20 20 20 20 20 20 20 20 20 20 21 21 21 21 21 21 21 21 21 21
 21 21 21 21 21 21 21 21 21 21 21 21 21 21 21 21 21 21 21 21 21 21 21 21
 21 21 21 21 21 21 21 21]

In [18]:
meet.head(5)

   iid  pid  match
0    0   10      0
1    0   11      0
2    0   12      1
3    0   13      1
4    0   14      1

In [19]:
profile.index = profile.index.rename('index')
df = profile.pop('id')
val = df.values
profile.insert(loc=0, column='iid', value=val)
profile.head(5)

,iid,gender,wave,attr_o,sinc_o,intel_o,fun_o,amb_o,shar_o,age,...,sinc1_1,intel1_1,fun1_1,amb1_1,shar1_1,attr3_1,sinc3_1,fun3_1,intel3_1,amb3_1
index,,,,,,,,,,,,,,,,,,,,,
1,0,0,1,6.700000,7.400000,8.000000,7.200000,8.000000,7.1,21.0,...,20.0,20.0,15.0,15.0,15.0,6.0,8.0,8.0,8.0,7.0
2,1,0,1,7.700000,7.100000,7.900000,7.500000,7.500000,6.5,24.0,...,5.0,25.0,20.0,0.0,5.0,7.0,5.0,10.0,8.0,3.0
3,2,0,1,6.555556,6.777778,7.222222,6.222222,7.111111,6.0,25.0,...,10.0,35.0,10.0,10.0,0.0,8.0,9.0,8.0,9.0,8.0
4,3,0,1,7.000000,7.100000,7.700000,7.500000,7.700000,7.2,23.0,...,20.0,20.0,20.0,10.0,10.0,7.0,8.0,9.0,7.0,8.0
5,4,0,1,5.300000,7.700000,7.600000,7.200000,7.800000,6.2,21.0,...,5.0,25.0,25.0,10.0,15.0,6.0,3.0,6.0,10.0,8.0

In [20]:
left = meet
right = profile.copy()

In [21]:
profile.head()

,iid,gender,wave,attr_o,sinc_o,intel_o,fun_o,amb_o,shar_o,age,...,sinc1_1,intel1_1,fun1_1,amb1_1,shar1_1,attr3_1,sinc3_1,fun3_1,intel3_1,amb3_1
index,,,,,,,,,,,,,,,,,,,,,
1,0,0,1,6.700000,7.400000,8.000000,7.200000,8.000000,7.1,21.0,...,20.0,20.0,15.0,15.0,15.0,6.0,8.0,8.0,8.0,7.0
2,1,0,1,7.700000,7.100000,7.900000,7.500000,7.500000,6.5,24.0,...,5.0,25.0,20.0,0.0,5.0,7.0,5.0,10.0,8.0,3.0
3,2,0,1,6.555556,6.777778,7.222222,6.222222,7.111111,6.0,25.0,...,10.0,35.0,10.0,10.0,0.0,8.0,9.0,8.0,9.0,8.0
4,3,0,1,7.000000,7.100000,7.700000,7.500000,7.700000,7.2,23.0,...,20.0,20.0,20.0,10.0,10.0,7.0,8.0,9.0,7.0,8.0
5,4,0,1,5.300000,7.700000,7.600000,7.200000,7.800000,6.2,21.0,...,5.0,25.0,25.0,10.0,15.0,6.0,3.0,6.0,10.0,8.0

In [22]:
mid = pd.merge(left, right, on='iid', how='left')

In [23]:
mid.head()

,iid,pid,match,gender,wave,attr_o,sinc_o,intel_o,fun_o,amb_o,...,sinc1_1,intel1_1,fun1_1,amb1_1,shar1_1,attr3_1,sinc3_1,fun3_1,intel3_1,amb3_1
0,0,10,0,0,1,6.7,7.4,8.0,7.2,8.0,...,20.0,20.0,15.0,15.0,15.0,6.0,8.0,8.0,8.0,7.0
1,0,11,0,0,1,6.7,7.4,8.0,7.2,8.0,...,20.0,20.0,15.0,15.0,15.0,6.0,8.0,8.0,8.0,7.0
2,0,12,1,0,1,6.7,7.4,8.0,7.2,8.0,...,20.0,20.0,15.0,15.0,15.0,6.0,8.0,8.0,8.0,7.0
3,0,13,1,0,1,6.7,7.4,8.0,7.2,8.0,...,20.0,20.0,15.0,15.0,15.0,6.0,8.0,8.0,8.0,7.0
4,0,14,1,0,1,6.7,7.4,8.0,7.2,8.0,...,20.0,20.0,15.0,15.0,15.0,6.0,8.0,8.0,8.0,7.0

In [24]:
right.index.names = ['pid']
right.head(5)

,iid,gender,wave,attr_o,sinc_o,intel_o,fun_o,amb_o,shar_o,age,...,sinc1_1,intel1_1,fun1_1,amb1_1,shar1_1,attr3_1,sinc3_1,fun3_1,intel3_1,amb3_1
pid,,,,,,,,,,,,,,,,,,,,,
1,0,0,1,6.700000,7.400000,8.000000,7.200000,8.000000,7.1,21.0,...,20.0,20.0,15.0,15.0,15.0,6.0,8.0,8.0,8.0,7.0
2,1,0,1,7.700000,7.100000,7.900000,7.500000,7.500000,6.5,24.0,...,5.0,25.0,20.0,0.0,5.0,7.0,5.0,10.0,8.0,3.0
3,2,0,1,6.555556,6.777778,7.222222,6.222222,7.111111,6.0,25.0,...,10.0,35.0,10.0,10.0,0.0,8.0,9.0,8.0,9.0,8.0
4,3,0,1,7.000000,7.100000,7.700000,7.500000,7.700000,7.2,23.0,...,20.0,20.0,20.0,10.0,10.0,7.0,8.0,9.0,7.0,8.0
5,4,0,1,5.300000,7.700000,7.600000,7.200000,7.800000,6.2,21.0,...,5.0,25.0,25.0,10.0,15.0,6.0,3.0,6.0,10.0,8.0

In [25]:
right = profile.copy()
df = right.pop('iid')
val = df.values
right.insert(loc=0, column='pid', value=val)
right.head(5)

,pid,gender,wave,attr_o,sinc_o,intel_o,fun_o,amb_o,shar_o,age,...,sinc1_1,intel1_1,fun1_1,amb1_1,shar1_1,attr3_1,sinc3_1,fun3_1,intel3_1,amb3_1
index,,,,,,,,,,,,,,,,,,,,,
1,0,0,1,6.700000,7.400000,8.000000,7.200000,8.000000,7.1,21.0,...,20.0,20.0,15.0,15.0,15.0,6.0,8.0,8.0,8.0,7.0
2,1,0,1,7.700000,7.100000,7.900000,7.500000,7.500000,6.5,24.0,...,5.0,25.0,20.0,0.0,5.0,7.0,5.0,10.0,8.0,3.0
3,2,0,1,6.555556,6.777778,7.222222,6.222222,7.111111,6.0,25.0,...,10.0,35.0,10.0,10.0,0.0,8.0,9.0,8.0,9.0,8.0
4,3,0,1,7.000000,7.100000,7.700000,7.500000,7.700000,7.2,23.0,...,20.0,20.0,20.0,10.0,10.0,7.0,8.0,9.0,7.0,8.0
5,4,0,1,5.300000,7.700000,7.600000,7.200000,7.800000,6.2,21.0,...,5.0,25.0,25.0,10.0,15.0,6.0,3.0,6.0,10.0,8.0

In [26]:
# profile pairs
join = pd.merge(mid, right, on='pid', how='left')
join.head(5)

,iid,pid,match,gender_x,wave_x,attr_o_x,sinc_o_x,intel_o_x,fun_o_x,amb_o_x,...,sinc1_1_y,intel1_1_y,fun1_1_y,amb1_1_y,shar1_1_y,attr3_1_y,sinc3_1_y,fun3_1_y,intel3_1_y,amb3_1_y
0,0,10,0,0,1,6.7,7.4,8.0,7.2,8.0,...,20.0,20.0,20.0,0.0,5.0,8.0,9.0,7.0,8.0,5.0
1,0,11,0,0,1,6.7,7.4,8.0,7.2,8.0,...,0.0,0.0,40.0,0.0,0.0,9.0,9.0,9.0,10.0,9.0
2,0,12,1,0,1,6.7,7.4,8.0,7.2,8.0,...,18.0,19.0,18.0,14.0,12.0,4.0,7.0,8.0,8.0,3.0
3,0,13,1,0,1,6.7,7.4,8.0,7.2,8.0,...,5.0,15.0,40.0,5.0,5.0,9.0,9.0,9.0,9.0,9.0
4,0,14,1,0,1,6.7,7.4,8.0,7.2,8.0,...,10.0,20.0,10.0,10.0,20.0,7.0,7.0,7.0,9.0,9.0

In [27]:
join.to_csv('../data/pair.csv',index=False)

In [28]:
key = join.keys()
idx = range(0,len(key))
z = zip(idx, key)
for i in z:
	print(i)

(0, 'iid')
(1, 'pid')
(2, 'match')
(3, 'gender_x')
(4, 'wave_x')
(5, 'attr_o_x')
(6, 'sinc_o_x')
(7, 'intel_o_x')
(8, 'fun_o_x')
(9, 'amb_o_x')
(10, 'shar_o_x')
(11, 'age_x')
(12, 'field_cd_x')
(13, 'race_x')
(14, 'imprace_x')
(15, 'imprelig_x')
(16, 'date_x')
(17, 'go_out_x')
(18, 'sports_x')
(19, 'tvsports_x')
(20, 'exercise_x')
(21, 'dining_x')
(22, 'museums_x')
(23, 'art_x')
(24, 'hiking_x')
(25, 'gaming_x')
(26, 'clubbing_x')
(27, 'reading_x')
(28, 'tv_x')
(29, 'theater_x')
(30, 'movies_x')
(31, 'concerts_x')
(32, 'music_x')
(33, 'shopping_x')
(34, 'yoga_x')
(35, 'sinc1_1_x')
(36, 'intel1_1_x')
(37, 'fun1_1_x')
(38, 'amb1_1_x')
(39, 'shar1_1_x')
(40, 'attr3_1_x')
(41, 'sinc3_1_x')
(42, 'fun3_1_x')
(43, 'intel3_1_x')
(44, 'amb3_1_x')
(45, 'gender_y')
(46, 'wave_y')
(47, 'attr_o_y')
(48, 'sinc_o_y')
(49, 'intel_o_y')
(50, 'fun_o_y')
(51, 'amb_o_y')
(52, 'shar_o_y')
(53, 'age_y')
(54, 'field_cd_y')
(55, 'race_y')
(56, 'imprace_y')
(57, 'imprelig_y')
(58, 'date_y')
(59, 'go_out_y')
(60, 'sports_y')
(61, 'tvsports_y')
(62, 'exercise_y')
(63, 'dining_y')
(64, 'museums_y')
(65, 'art_y')
(66, 'hiking_y')
(67, 'gaming_y')
(68, 'clubbing_y')
(69, 'reading_y')
(70, 'tv_y')
(71, 'theater_y')
(72, 'movies_y')
(73, 'concerts_y')
(74, 'music_y')
(75, 'shopping_y')
(76, 'yoga_y')
(77, 'sinc1_1_y')
(78, 'intel1_1_y')
(79, 'fun1_1_y')
(80, 'amb1_1_y')
(81, 'shar1_1_y')
(82, 'attr3_1_y')
(83, 'sinc3_1_y')
(84, 'fun3_1_y')
(85, 'intel3_1_y')
(86, 'amb3_1_y')

In [29]:
join = join.fillna(0)

In [30]:
# ===============  subjective profile pair ==============
subj = pd.concat([join.iloc[:, 0:5],
                  join.iloc[:, 11:47],
                  join.iloc[:, 53:87]
                 ],
                  axis=1)
subj['age_diff'] = subj['age_x'] - subj['age_y']
subj['samerace'] = (subj['race_x'] == subj['race_y'])
samerace = subj.pop('samerace')
samerace = samerace.astype(int)
subj['samerace'] = samerace
df = subj.pop('match')
subj['match'] = df
subj.to_csv('../data/s_pair.csv',index=False)

In [31]:
key = subj.keys()
idx = range(0,len(key))
z = zip(idx, key)
for i in z:
	print(i)

(0, 'iid')
(1, 'pid')
(2, 'gender_x')
(3, 'wave_x')
(4, 'age_x')
(5, 'field_cd_x')
(6, 'race_x')
(7, 'imprace_x')
(8, 'imprelig_x')
(9, 'date_x')
(10, 'go_out_x')
(11, 'sports_x')
(12, 'tvsports_x')
(13, 'exercise_x')
(14, 'dining_x')
(15, 'museums_x')
(16, 'art_x')
(17, 'hiking_x')
(18, 'gaming_x')
(19, 'clubbing_x')
(20, 'reading_x')
(21, 'tv_x')
(22, 'theater_x')
(23, 'movies_x')
(24, 'concerts_x')
(25, 'music_x')
(26, 'shopping_x')
(27, 'yoga_x')
(28, 'sinc1_1_x')
(29, 'intel1_1_x')
(30, 'fun1_1_x')
(31, 'amb1_1_x')
(32, 'shar1_1_x')
(33, 'attr3_1_x')
(34, 'sinc3_1_x')
(35, 'fun3_1_x')
(36, 'intel3_1_x')
(37, 'amb3_1_x')
(38, 'gender_y')
(39, 'wave_y')
(40, 'age_y')
(41, 'field_cd_y')
(42, 'race_y')
(43, 'imprace_y')
(44, 'imprelig_y')
(45, 'date_y')
(46, 'go_out_y')
(47, 'sports_y')
(48, 'tvsports_y')
(49, 'exercise_y')
(50, 'dining_y')
(51, 'museums_y')
(52, 'art_y')
(53, 'hiking_y')
(54, 'gaming_y')
(55, 'clubbing_y')
(56, 'reading_y')
(57, 'tv_y')
(58, 'theater_y')
(59, 'movies_y')
(60, 'concerts_y')
(61, 'music_y')
(62, 'shopping_y')
(63, 'yoga_y')
(64, 'sinc1_1_y')
(65, 'intel1_1_y')
(66, 'fun1_1_y')
(67, 'amb1_1_y')
(68, 'shar1_1_y')
(69, 'attr3_1_y')
(70, 'sinc3_1_y')
(71, 'fun3_1_y')
(72, 'intel3_1_y')
(73, 'amb3_1_y')
(74, 'age_diff')
(75, 'samerace')
(76, 'match')

In [32]:
# ======================  objective profile pair ==============
obj = pd.concat([join.iloc[:, 0:10],
                 join.iloc[:, 11:40],
                 join.iloc[:, 45:52],
                 join.iloc[:, 53:82]
                 ],
                  axis=1)
obj['age_diff'] = obj['age_x'] - obj['age_y']
obj['samerace'] = (obj['race_x'] == obj['race_y'])
samerace = obj.pop('samerace')
samerace = samerace.astype(int)
obj['samerace'] = samerace
df = obj.pop('match')
obj['match'] = df
obj.to_csv('../data/o_pair.csv',index=False)

In [33]:
key = obj.keys()
idx = range(0,len(key))
z = zip(idx, key)
for i in z:
	print(i)

(0, 'iid')
(1, 'pid')
(2, 'gender_x')
(3, 'wave_x')
(4, 'attr_o_x')
(5, 'sinc_o_x')
(6, 'intel_o_x')
(7, 'fun_o_x')
(8, 'amb_o_x')
(9, 'age_x')
(10, 'field_cd_x')
(11, 'race_x')
(12, 'imprace_x')
(13, 'imprelig_x')
(14, 'date_x')
(15, 'go_out_x')
(16, 'sports_x')
(17, 'tvsports_x')
(18, 'exercise_x')
(19, 'dining_x')
(20, 'museums_x')
(21, 'art_x')
(22, 'hiking_x')
(23, 'gaming_x')
(24, 'clubbing_x')
(25, 'reading_x')
(26, 'tv_x')
(27, 'theater_x')
(28, 'movies_x')
(29, 'concerts_x')
(30, 'music_x')
(31, 'shopping_x')
(32, 'yoga_x')
(33, 'sinc1_1_x')
(34, 'intel1_1_x')
(35, 'fun1_1_x')
(36, 'amb1_1_x')
(37, 'shar1_1_x')
(38, 'gender_y')
(39, 'wave_y')
(40, 'attr_o_y')
(41, 'sinc_o_y')
(42, 'intel_o_y')
(43, 'fun_o_y')
(44, 'amb_o_y')
(45, 'age_y')
(46, 'field_cd_y')
(47, 'race_y')
(48, 'imprace_y')
(49, 'imprelig_y')
(50, 'date_y')
(51, 'go_out_y')
(52, 'sports_y')
(53, 'tvsports_y')
(54, 'exercise_y')
(55, 'dining_y')
(56, 'museums_y')
(57, 'art_y')
(58, 'hiking_y')
(59, 'gaming_y')
(60, 'clubbing_y')
(61, 'reading_y')
(62, 'tv_y')
(63, 'theater_y')
(64, 'movies_y')
(65, 'concerts_y')
(66, 'music_y')
(67, 'shopping_y')
(68, 'yoga_y')
(69, 'sinc1_1_y')
(70, 'intel1_1_y')
(71, 'fun1_1_y')
(72, 'amb1_1_y')
(73, 'shar1_1_y')
(74, 'age_diff')
(75, 'samerace')
(76, 'match')

In [34]:
obj.head(5)

,iid,pid,gender_x,wave_x,attr_o_x,sinc_o_x,intel_o_x,fun_o_x,amb_o_x,age_x,...,shopping_y,yoga_y,sinc1_1_y,intel1_1_y,fun1_1_y,amb1_1_y,shar1_1_y,age_diff,samerace,match
0,0,10,0,1,6.7,7.4,8.0,7.2,8.0,21.0,...,5.0,1.0,20.0,20.0,20.0,0.0,5.0,-6.0,0,0
1,0,11,0,1,6.7,7.4,8.0,7.2,8.0,21.0,...,5.0,5.0,0.0,0.0,40.0,0.0,0.0,-1.0,0,0
2,0,12,0,1,6.7,7.4,8.0,7.2,8.0,21.0,...,8.0,1.0,18.0,19.0,18.0,14.0,12.0,-1.0,1,1
3,0,13,0,1,6.7,7.4,8.0,7.2,8.0,21.0,...,6.0,1.0,5.0,15.0,40.0,5.0,5.0,-2.0,0,1
4,0,14,0,1,6.7,7.4,8.0,7.2,8.0,21.0,...,2.0,1.0,10.0,20.0,10.0,10.0,20.0,-3.0,0,1

In [35]:
key = profile.keys()
idx = range(0,len(key))
z = zip(idx, key)
for i in z:
	print(i)

(0, 'iid')
(1, 'gender')
(2, 'wave')
(3, 'attr_o')
(4, 'sinc_o')
(5, 'intel_o')
(6, 'fun_o')
(7, 'amb_o')
(8, 'shar_o')
(9, 'age')
(10, 'field_cd')
(11, 'race')
(12, 'imprace')
(13, 'imprelig')
(14, 'date')
(15, 'go_out')
(16, 'sports')
(17, 'tvsports')
(18, 'exercise')
(19, 'dining')
(20, 'museums')
(21, 'art')
(22, 'hiking')
(23, 'gaming')
(24, 'clubbing')
(25, 'reading')
(26, 'tv')
(27, 'theater')
(28, 'movies')
(29, 'concerts')
(30, 'music')
(31, 'shopping')
(32, 'yoga')
(33, 'sinc1_1')
(34, 'intel1_1')
(35, 'fun1_1')
(36, 'amb1_1')
(37, 'shar1_1')
(38, 'attr3_1')
(39, 'sinc3_1')
(40, 'fun3_1')
(41, 'intel3_1')
(42, 'amb3_1')

In [36]:
# obj profile
profile = pd.concat([profile.iloc[:, 0:37]
                     ],
                     axis=1)

profile.pop('shar_o')

index
1      7.100000
2      6.500000
3      6.000000
4      7.200000
5      6.200000
6      6.300000
7      6.700000
8      6.777778
9      6.300000
10     5.625000
11     5.222222
12     6.111111
13     5.888889
14     7.444444
15     6.666667
16     4.666667
17     6.666667
18     5.555556
19     7.700000
20     7.300000
21     5.000000
22     4.181818
23     4.923077
24     5.461538
25     4.833333
26     6.000000
27     5.666667
29     4.692308
30     5.090909
31     5.818182
32     5.428571
33     5.714286
34     5.214286
35     5.153846
36     5.230769
37     5.181818
38     6.000000
39     5.357143
41     3.500000
42     4.928571
43     4.000000
44     4.176471
45     4.117647
46     5.076923
47     4.705882
48     5.176471
49     6.066667
50     5.866667
51     4.250000
52     4.687500
53     5.214286
54     4.750000
55     5.437500
56     4.888889
57     4.666667
60     4.666667
61     4.222222
62     6.375000
63     4.625000
64     4.700000
65     5.700000
66     4.571429
67     5.000000
68     4.500000
69     6.142857
70     6.375000
71     5.000000
72     5.250000
73     5.857143
74     5.500000
75     4.714286
76     6.071429
77     5.785714
78     4.692308
79     6.200000
80     4.928571
81     6.666667
82     5.300000
83     6.392857
84     5.800000
85     5.846154
86     6.066667
87     5.269231
88     6.066667
89     4.666667
90     4.071429
91     6.733333
92     5.846154
93     6.266667
94     4.428571
95     5.062500
96     4.750000
97     5.923077
98     4.352941
99     7.200000
100    5.642857
101    4.437500
102    4.125000
103    5.133333
104    5.733333
105    6.588235
106    5.000000
107    7.125000
108    6.111111
109    6.437500
110    5.642857
111    5.500000
112    6.400000
113    6.100000
114    5.111111
115    6.888889
116    6.000000
117    7.000000
119    5.888889
120    6.200000
121    4.000000
122    7.500000
123    4.375000
124    1.375000
125    6.777778
126    6.375000
127    5.111111
128    5.000000
131    1.500000
132    6.500000
133    4.250000
134    4.333333
135    4.750000
137    8.333333
138    7.333333
139    5.666667
140    7.333333
141    5.666667
142    5.833333
143    4.846154
144    6.285714
145    5.285714
146    5.230769
147    5.461538
148    5.333333
149    6.461538
150    5.285714
151    5.833333
152    4.384615
153    4.692308
154    6.000000
155    5.666667
156    6.285714
157    5.769231
158    3.818182
159    4.363636
160    6.142857
161    6.357143
162    5.666667
163    6.785714
164    6.153846
165    5.090909
166    5.636364
167    5.769231
168    5.363636
169    7.000000
170    5.250000
171    4.900000
172    7.272727
173    6.818182
174    5.857143
175    7.000000
176    6.000000
177    5.500000
178    6.428571
179    6.333333
180    6.571429
181    6.000000
182    5.000000
183    5.888889
184    6.666667
185    4.750000
186    5.888889
187    6.125000
188    5.333333
189    5.777778
190    5.777778
191    6.444444
192    7.444444
193    6.444444
194    4.166667
195    5.842105
196    4.473684
197    5.894737
198    3.894737
199    5.578947
200    6.166667
201    5.631579
202    4.947368
203    5.789474
204    4.842105
205    5.000000
206    5.789474
207    6.052632
208    6.052632
209    4.842105
210    5.894737
211    5.736842
212    6.315789
213    6.473684
214    5.062500
215    6.722222
216    5.000000
217    6.625000
218    5.142857
219    7.000000
220    6.437500
221    5.928571
222    4.062500
223    5.928571
224    6.000000
225    5.500000
226    6.187500
227    5.470588
228    5.000000
229    6.000000
230    5.625000
231    6.062500
232    5.923077
233    6.214286
234    4.600000
235    5.000000
236    3.666667
237    3.800000
238    6.000000
239    4.500000
240    5.285714
241    6.000000
242    6.000000
243    5.222222
244    6.111111
245    5.625000
246    4.375000
247    4.000000
248    5.444444
249    4.750000
250    7.666667
251    5.428571
252    5.764706
253    4.500000
254    5.500000
255    5.055556
256    5.882353
257    6.058824
258    5.470588
259    5.875000
260    5.666667
261    5.176471
262    5.333333
263    5.944444
264    5.777778
265    4.473684
266    6.147059
267    4.750000
268    7.264706
269    6.529412
270    5.722222
271    5.166667
272    5.588235
273    4.900000
274    4.894737
275    4.947368
276    5.285714
277    5.526316
278    4.000000
279    5.350000
280    5.105263
281    5.250000
282    5.333333
283    4.444444
284    4.684211
285    4.476190
286    4.300000
287    4.052632
288    5.277778
289    4.944444
290    4.900000
291    5.238095
292    4.842105
293    4.333333
294    6.500000
295    4.818182
296    5.307692
297    5.500000
298    4.538462
299    5.083333
300    5.272727
301    5.615385
302    5.076923
303    6.333333
304    5.153846
305    5.000000
306    4.416667
307    5.916667
308    5.333333
309    6.333333
310    3.833333
311    6.375000
312    7.214286
313    7.083333
314    5.307692
315    5.625000
316    7.000000
317    6.583333
318    5.769231
319    6.166667
320    5.666667
321    4.666667
322    4.833333
323    6.000000
324    6.666667
325    7.166667
326    6.000000
327    7.142857
328    6.428571
329    4.333333
330    5.857143
331    5.166667
332    3.571429
333    5.500000
334    5.625000
335    5.625000
336    4.750000
337    5.222222
338    3.500000
341    5.937500
342    5.333333
343    5.600000
344    6.722222
345    5.687500
347    2.666667
348    5.117647
349    6.437500
350    6.388889
351    4.941176
352    4.611111
353    3.562500
354    7.333333
355    6.000000
356    6.000000
357    6.062500
358    6.294118
359    4.625000
360    5.600000
361    4.500000
362    6.066667
363    4.600000
364    6.058824
365    6.750000
366    7.214286
367    7.571429
368    7.153846
369    5.900000
370    7.000000
371    6.000000
372    5.916667
373    7.636364
374    5.250000
375    5.692308
376    6.250000
377    5.000000
378    5.769231
379    6.500000
380    6.125000
381    6.461538
382    5.733333
383    5.750000
384    7.100000
385    6.285714
386    5.928571
387    6.000000
388    5.333333
389    5.294118
390    2.625000
391    6.769231
392    6.466667
393    6.000000
394    5.214286
395    5.357143
396    5.357143
397    5.615385
398    6.307692
399    6.000000
400    6.916667
401    5.714286
402    5.000000
403    4.916667
404    5.846154
405    6.214286
406    6.166667
407    7.533333
408    6.428571
409    6.615385
410    6.769231
411    6.666667
412    5.636364
415    2.250000
417    5.857143
418    6.142857
419    6.714286
420    6.625000
421    5.142857
422    5.833333
423    4.200000
424    5.400000
425    4.200000
426    3.500000
427    4.666667
428    6.666667
429    4.000000
430    4.923077
431    4.214286
432    5.538462
433    5.071429
434    5.230769
435    4.538462
436    5.384615
437    5.076923
438    5.250000
439    4.500000
440    7.111111
441    6.555556
442    4.500000
443    5.750000
444    5.200000
445    5.750000
446    5.444444
447    4.800000
448    5.500000
449    6.111111
450    5.500000
451    4.666667
452    4.000000
453    3.777778
454    5.200000
455    6.600000
456    6.400000
457    5.600000
458    6.000000
459    5.800000
460    6.166667
461    4.000000
462    3.666667
463    4.333333
464    5.333333
465    3.600000
466    6.000000
467    6.307692
468    6.500000
469    6.428571
470    6.333333
471    5.461538
472    5.571429
473    5.600000
474    6.928571
475    5.928571
476    5.083333
477    5.846154
478    7.357143
479    5.928571
480    7.000000
481    5.000000
482    6.583333
483    5.571429
484    3.357143
485    4.500000
486    5.615385
487    3.769231
488    4.357143
489    6.384615
490    4.916667
491    6.071429
492    6.500000
493    6.000000
494    5.923077
495    4.666667
496    7.000000
497    5.857143
498    5.833333
499    4.714286
500    5.666667
501    6.166667
502    4.000000
503    4.000000
504    4.833333
505    4.000000
506    3.400000
507    6.000000
508    4.500000
509    5.631579
510    6.210526
511    4.750000
513    4.650000
514    5.000000
515    4.222222
516    5.100000
517    4.176471
518    4.952381
519    4.722222
520    5.000000
521    4.952381
522    5.181818
523    5.000000
524    6.000000
525    4.055556
526    4.210526
527    4.000000
529    4.350000
530    3.850000
531    4.619048
532    3.550000
533    4.350000
534    4.833333
535    5.200000
536    5.058824
537    5.529412
538    5.153846
539    5.166667
540    4.222222
541    4.842105
542    4.062500
543    4.882353
544    4.117647
545    4.916667
546    5.750000
547    5.684211
548    4.578947
549    4.937500
550    4.190476
551    5.166667
552    5.166667
Name: shar_o, dtype: float64

In [37]:
ids = range(0, len(profile))
profile.insert(loc=0, column='id', value=ids)
print(ids)

range(0, 536)

In [38]:
profile.head(5)

,id,iid,gender,wave,attr_o,sinc_o,intel_o,fun_o,amb_o,age,...,theater,movies,concerts,music,shopping,yoga,sinc1_1,intel1_1,fun1_1,amb1_1
index,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,1,6.700000,7.400000,8.000000,7.200000,8.000000,21.0,...,1.0,10.0,10.0,9.0,8.0,1.0,20.0,20.0,15.0,15.0
2,1,1,0,1,7.700000,7.100000,7.900000,7.500000,7.500000,24.0,...,9.0,8.0,7.0,8.0,3.0,1.0,5.0,25.0,20.0,0.0
3,2,2,0,1,6.555556,6.777778,7.222222,6.222222,7.111111,25.0,...,7.0,7.0,7.0,5.0,8.0,7.0,10.0,35.0,10.0,10.0
4,3,3,0,1,7.000000,7.100000,7.700000,7.500000,7.700000,23.0,...,9.0,7.0,8.0,7.0,1.0,8.0,20.0,20.0,20.0,10.0
5,4,4,0,1,5.300000,7.700000,7.600000,7.200000,7.800000,21.0,...,6.0,6.0,3.0,7.0,8.0,3.0,5.0,25.0,25.0,10.0

In [39]:
df1 = profile.copy()
df2 = profile.copy()

In [40]:
# cartesian product (profile, profile)
car = (
    df1.assign(key=1)
    .merge(df2.assign(key=1), on="key")
    .drop("key", axis=1)
)
car.head(5)

,id_x,iid_x,gender_x,wave_x,attr_o_x,sinc_o_x,intel_o_x,fun_o_x,amb_o_x,age_x,...,theater_y,movies_y,concerts_y,music_y,shopping_y,yoga_y,sinc1_1_y,intel1_1_y,fun1_1_y,amb1_1_y
0,0,0,0,1,6.7,7.4,8.0,7.2,8.0,21.0,...,1.0,10.0,10.0,9.0,8.0,1.0,20.0,20.0,15.0,15.0
1,0,0,0,1,6.7,7.4,8.0,7.2,8.0,21.0,...,9.0,8.0,7.0,8.0,3.0,1.0,5.0,25.0,20.0,0.0
2,0,0,0,1,6.7,7.4,8.0,7.2,8.0,21.0,...,7.0,7.0,7.0,5.0,8.0,7.0,10.0,35.0,10.0,10.0
3,0,0,0,1,6.7,7.4,8.0,7.2,8.0,21.0,...,9.0,7.0,8.0,7.0,1.0,8.0,20.0,20.0,20.0,10.0
4,0,0,0,1,6.7,7.4,8.0,7.2,8.0,21.0,...,6.0,6.0,3.0,7.0,8.0,3.0,5.0,25.0,25.0,10.0

In [41]:
iid = car.pop('id_x')
iid = iid.values
pid = car.pop('id_y')
pid = pid.values
car.insert(loc=0, column='pid', value=pid)
car.insert(loc=0, column='iid', value=iid)

In [42]:
car.head(5)

,iid,pid,iid_x,gender_x,wave_x,attr_o_x,sinc_o_x,intel_o_x,fun_o_x,amb_o_x,...,theater_y,movies_y,concerts_y,music_y,shopping_y,yoga_y,sinc1_1_y,intel1_1_y,fun1_1_y,amb1_1_y
0,0,0,0,0,1,6.7,7.4,8.0,7.2,8.0,...,1.0,10.0,10.0,9.0,8.0,1.0,20.0,20.0,15.0,15.0
1,0,1,0,0,1,6.7,7.4,8.0,7.2,8.0,...,9.0,8.0,7.0,8.0,3.0,1.0,5.0,25.0,20.0,0.0
2,0,2,0,0,1,6.7,7.4,8.0,7.2,8.0,...,7.0,7.0,7.0,5.0,8.0,7.0,10.0,35.0,10.0,10.0
3,0,3,0,0,1,6.7,7.4,8.0,7.2,8.0,...,9.0,7.0,8.0,7.0,1.0,8.0,20.0,20.0,20.0,10.0
4,0,4,0,0,1,6.7,7.4,8.0,7.2,8.0,...,6.0,6.0,3.0,7.0,8.0,3.0,5.0,25.0,25.0,10.0

In [43]:
car['age_diff'] = car['age_x'] - car['age_y']
car['samerace'] = (car['race_x'] == car['race_y'])
samerace = car.pop('samerace')
samerace = samerace.astype(int)
car['samerace'] = samerace

In [44]:
car.head(5)

,iid,pid,iid_x,gender_x,wave_x,attr_o_x,sinc_o_x,intel_o_x,fun_o_x,amb_o_x,...,concerts_y,music_y,shopping_y,yoga_y,sinc1_1_y,intel1_1_y,fun1_1_y,amb1_1_y,age_diff,samerace
0,0,0,0,0,1,6.7,7.4,8.0,7.2,8.0,...,10.0,9.0,8.0,1.0,20.0,20.0,15.0,15.0,0.0,1
1,0,1,0,0,1,6.7,7.4,8.0,7.2,8.0,...,7.0,8.0,3.0,1.0,5.0,25.0,20.0,0.0,-3.0,0
2,0,2,0,0,1,6.7,7.4,8.0,7.2,8.0,...,7.0,5.0,8.0,7.0,10.0,35.0,10.0,10.0,-4.0,0
3,0,3,0,0,1,6.7,7.4,8.0,7.2,8.0,...,8.0,7.0,1.0,8.0,20.0,20.0,20.0,10.0,-2.0,0
4,0,4,0,0,1,6.7,7.4,8.0,7.2,8.0,...,3.0,7.0,8.0,3.0,5.0,25.0,25.0,10.0,0.0,0

In [45]:
len(car)

287296

In [46]:
car.to_csv('../data/allpair.csv',index=False)