In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession
from pyspark import SparkContext
from pyspark.sql import SQLContext
import pandas as pd
import pyspark.sql.functions as psf
from math import sqrt

In [3]:
# Build a SparkSession; SparkSession provides a single
spark = SparkSession\
        .builder\
        .appName("graph")\
        .getOrCreate()

In [4]:
df = spark.read.option("header", True).csv("new_data.csv")
df = df.select("iid","pid","match","wave")
df = df.toPandas()

result = df[df.isnull().values==True]
print(result)

#df = df.drop(df.index[[1756,1766,1776,1786,1796,1806,1816,1826,1836,1846]])
# result = df[df.isnull().values==True]
# print(result)

Empty DataFrame
Columns: [iid, pid, match, wave]
Index: []

In [5]:
df["iid"] = df['iid'].astype(int)
df["pid"] = df['pid'].astype(int)
# df["iid"] = df["iid"] - 1
# df["pid"] = df["pid"] - 1

In [6]:
df.head(10)

   iid  pid match wave
0    0   10     0    1
1    0   11     0    1
2    0   12     1    1
3    0   13     1    1
4    0   14     1    1
5    0   15     0    1
6    0   16     0    1
7    0   17     0    1
8    0   18     1    1
9    0   19     0    1

In [7]:
sc = spark.sparkContext
sqlContest = SQLContext(sc)
df = sqlContest.createDataFrame(df)

In [8]:
node = df.select("iid","wave")
node = node.toPandas()
node = node.drop_duplicates("iid", 'first')
node = node.sort_values(by='iid')
node

      iid wave
0       0    1
10      1    1
20      2    1
556     3    1
566     4    1
576     5    1
586     6    1
596     7    1
605     8    1
615     9    1
623    10    1
1159   11    1
1168   12    1
1177   13    1
1186   14    1
1195   15    1
1204   16    1
1213   17    1
1222   18    1
1232   19    1
1242   20    2
1255   21    2
1265   22    2
1277   23    2
1289   24    2
1300   25    2
1311   26    2
1322   27    2
1334   28    2
1344   29    2
...   ...  ...
7231  506   21
7253  507   21
7274  508   21
7293  509   21
7311  510   21
7330  511   21
7350  512   21
7370  513   21
7390  514   21
7409  515   21
7427  516   21
7445  517   21
7461  518   21
7479  519   21
7494  520   21
7509  521   21
7521  522   21
7537  523   21
7554  524   21
7571  525   21
7585  526   21
7600  527   21
7615  528   21
7625  529   21
7639  530   21
7656  531   21
7674  532   21
7688  533   21
7707  534   21
7723  535   21

[536 rows x 2 columns]

In [9]:
nodefile="/home/mf3200/Bigdataproject/node_new0.csv"
node.to_csv(path_or_buf=nodefile, header = False, sep=",")

In [10]:
nodefile = spark.read.csv("/home/mf3200/Bigdataproject/node_new0.csv")
node  = nodefile.toPandas()
node

      _c0  _c1 _c2
0       0    0   1
1      10    1   1
2      20    2   1
3     556    3   1
4     566    4   1
5     576    5   1
6     586    6   1
7     596    7   1
8     605    8   1
9     615    9   1
10    623   10   1
11   1159   11   1
12   1168   12   1
13   1177   13   1
14   1186   14   1
15   1195   15   1
16   1204   16   1
17   1213   17   1
18   1222   18   1
19   1232   19   1
20   1242   20   2
21   1255   21   2
22   1265   22   2
23   1277   23   2
24   1289   24   2
25   1300   25   2
26   1311   26   2
27   1322   27   2
28   1334   28   2
29   1344   29   2
..    ...  ...  ..
506  7231  506  21
507  7253  507  21
508  7274  508  21
509  7293  509  21
510  7311  510  21
511  7330  511  21
512  7350  512  21
513  7370  513  21
514  7390  514  21
515  7409  515  21
516  7427  516  21
517  7445  517  21
518  7461  518  21
519  7479  519  21
520  7494  520  21
521  7509  521  21
522  7521  522  21
523  7537  523  21
524  7554  524  21
525  7571  525  21
526  7585  526  21
527  7600  527  21
528  7615  528  21
529  7625  529  21
530  7639  530  21
531  7656  531  21
532  7674  532  21
533  7688  533  21
534  7707  534  21
535  7723  535  21

[536 rows x 3 columns]

In [11]:
nodefile="/home/mf3200/Bigdataproject/node_new1.csv"
node.to_csv(path_or_buf=nodefile, header = False, sep=",")

In [12]:
edge = df.select("iid","pid","match","wave")
edge = edge.toPandas()
edge

      iid  pid match wave
0       0   10     0    1
1       0   11     0    1
2       0   12     1    1
3       0   13     1    1
4       0   14     1    1
5       0   15     0    1
6       0   16     0    1
7       0   17     0    1
8       0   18     1    1
9       0   19     0    1
10      1   10     0    1
11      1   11     0    1
12      1   12     0    1
13      1   13     1    1
14      1   14     0    1
15      1   15     0    1
16      1   16     0    1
17      1   17     0    1
18      1   18     1    1
19      1   19     0    1
20      2    0     0    1
21      2    1     0    1
22      2    2     0    1
23      2    3     0    1
24      2    4     0    1
25      2    5     0    1
26      2    6     0    1
27      2    7     0    1
28      2    8     0    1
29      2    9     0    1
...   ...  ...   ...  ...
7710  534  498     0   21
7711  534  500     1   21
7712  534  501     0   21
7713  534  504     0   21
7714  534  505     1   21
7715  534  506     0   21
7716  534  507     0   21
7717  534  508     0   21
7718  534  509     0   21
7719  534  510     0   21
7720  534  511     0   21
7721  534  512     0   21
7722  534  513     0   21
7723  535  496     0   21
7724  535  497     1   21
7725  535  498     0   21
7726  535  499     1   21
7727  535  500     1   21
7728  535  501     0   21
7729  535  502     0   21
7730  535  504     0   21
7731  535  505     0   21
7732  535  506     0   21
7733  535  507     0   21
7734  535  508     1   21
7735  535  509     0   21
7736  535  510     0   21
7737  535  511     0   21
7738  535  512     0   21
7739  535  513     0   21

[7740 rows x 4 columns]

In [13]:
edgefile="/home/mf3200/Bigdataproject/edge_new0.csv"
edge.to_csv(path_or_buf=edgefile, header = False, sep=",")

In [14]:
edgefile = spark.read.csv("/home/mf3200/Bigdataproject/edge_new0.csv")
edge  = edgefile.toPandas()
edge

       _c0  _c1  _c2 _c3 _c4
0        0    0   10   0   1
1        1    0   11   0   1
2        2    0   12   1   1
3        3    0   13   1   1
4        4    0   14   1   1
5        5    0   15   0   1
6        6    0   16   0   1
7        7    0   17   0   1
8        8    0   18   1   1
9        9    0   19   0   1
10      10    1   10   0   1
11      11    1   11   0   1
12      12    1   12   0   1
13      13    1   13   1   1
14      14    1   14   0   1
15      15    1   15   0   1
16      16    1   16   0   1
17      17    1   17   0   1
18      18    1   18   1   1
19      19    1   19   0   1
20      20    2    0   0   1
21      21    2    1   0   1
22      22    2    2   0   1
23      23    2    3   0   1
24      24    2    4   0   1
25      25    2    5   0   1
26      26    2    6   0   1
27      27    2    7   0   1
28      28    2    8   0   1
29      29    2    9   0   1
...    ...  ...  ...  ..  ..
7710  7710  534  498   0  21
7711  7711  534  500   1  21
7712  7712  534  501   0  21
7713  7713  534  504   0  21
7714  7714  534  505   1  21
7715  7715  534  506   0  21
7716  7716  534  507   0  21
7717  7717  534  508   0  21
7718  7718  534  509   0  21
7719  7719  534  510   0  21
7720  7720  534  511   0  21
7721  7721  534  512   0  21
7722  7722  534  513   0  21
7723  7723  535  496   0  21
7724  7724  535  497   1  21
7725  7725  535  498   0  21
7726  7726  535  499   1  21
7727  7727  535  500   1  21
7728  7728  535  501   0  21
7729  7729  535  502   0  21
7730  7730  535  504   0  21
7731  7731  535  505   0  21
7732  7732  535  506   0  21
7733  7733  535  507   0  21
7734  7734  535  508   1  21
7735  7735  535  509   0  21
7736  7736  535  510   0  21
7737  7737  535  511   0  21
7738  7738  535  512   0  21
7739  7739  535  513   0  21

[7740 rows x 5 columns]

In [15]:
edgefile="/home/mf3200/Bigdataproject/edge_new1.csv"
edge.to_csv(path_or_buf=edgefile, header = False, sep=",")