In [2]:
import findspark
findspark.init()

In [3]:
from pyspark.sql import SparkSession
from pyspark import SparkContext
from pyspark.sql import SQLContext
import pandas as pd
import pyspark.sql.functions as psf
from math import sqrt

In [4]:
# Build a SparkSession; SparkSession provides a single
spark = SparkSession\
        .builder\
        .appName("graph")\
        .getOrCreate()

In [5]:
df = spark.read.option("header", True).csv("ori_data.csv")
df = df.select("iid","pid","match","wave")
df = df.toPandas()

result = df[df.isnull().values==True]
print(result)

#df = df.drop(df.index[[1756,1766,1776,1786,1796,1806,1816,1826,1836,1846]])
# result = df[df.isnull().values==True]
# print(result)

Empty DataFrame
Columns: [iid, pid, match, wave]
Index: []

In [6]:
df["iid"] = df['iid'].astype(int)
df["pid"] = df['pid'].astype(int)
# df["iid"] = df["iid"] - 1
# df["pid"] = df["pid"] - 1

In [7]:
df.head(10)

   iid  pid match wave
0    0   10     0    1
1    0   11     0    1
2    0   12     1    1
3    0   13     1    1
4    0   14     1    1
5    0   15     0    1
6    0   16     0    1
7    0   17     0    1
8    0   18     1    1
9    0   19     0    1

In [8]:
sc = spark.sparkContext
sqlContest = SQLContext(sc)
df = sqlContest.createDataFrame(df)

In [9]:
node = df.select("iid","wave")
node = node.toPandas()
node = node.drop_duplicates("iid", 'first')
node = node.sort_values(by='iid')
node

      iid wave
0       0    1
10      1    1
20      2    1
29      3    1
39      4    1
49      5    1
59      6    1
69      7    1
78      8    1
88      9    1
96     10    1
105    11    1
114    12    1
123    13    1
132    14    1
141    15    1
150    16    1
159    17    1
168    18    1
178    19    1
188    20    2
201    21    2
211    22    2
223    23    2
235    24    2
246    25    2
257    26    2
268    27    2
280    28    2
290    29    2
...   ...  ...
6177  506   21
6199  507   21
6220  508   21
6239  509   21
6257  510   21
6276  511   21
6296  512   21
6316  513   21
6336  514   21
6355  515   21
6373  516   21
6391  517   21
6407  518   21
6425  519   21
6440  520   21
6455  521   21
6467  522   21
6483  523   21
6500  524   21
6517  525   21
6531  526   21
6546  527   21
6561  528   21
6571  529   21
6585  530   21
6602  531   21
6620  532   21
6634  533   21
6653  534   21
6669  535   21

[536 rows x 2 columns]

In [10]:
nodefile="/home/mf3200/Bigdataproject/node_ori0.csv"
node.to_csv(path_or_buf=nodefile, header = False, sep=",")

In [11]:
nodefile = spark.read.csv("/home/mf3200/Bigdataproject/node_ori0.csv")
node  = nodefile.toPandas()
node

      _c0  _c1 _c2
0       0    0   1
1      10    1   1
2      20    2   1
3      29    3   1
4      39    4   1
5      49    5   1
6      59    6   1
7      69    7   1
8      78    8   1
9      88    9   1
10     96   10   1
11    105   11   1
12    114   12   1
13    123   13   1
14    132   14   1
15    141   15   1
16    150   16   1
17    159   17   1
18    168   18   1
19    178   19   1
20    188   20   2
21    201   21   2
22    211   22   2
23    223   23   2
24    235   24   2
25    246   25   2
26    257   26   2
27    268   27   2
28    280   28   2
29    290   29   2
..    ...  ...  ..
506  6177  506  21
507  6199  507  21
508  6220  508  21
509  6239  509  21
510  6257  510  21
511  6276  511  21
512  6296  512  21
513  6316  513  21
514  6336  514  21
515  6355  515  21
516  6373  516  21
517  6391  517  21
518  6407  518  21
519  6425  519  21
520  6440  520  21
521  6455  521  21
522  6467  522  21
523  6483  523  21
524  6500  524  21
525  6517  525  21
526  6531  526  21
527  6546  527  21
528  6561  528  21
529  6571  529  21
530  6585  530  21
531  6602  531  21
532  6620  532  21
533  6634  533  21
534  6653  534  21
535  6669  535  21

[536 rows x 3 columns]

In [12]:
nodefile="/home/mf3200/Bigdataproject/node_ori1.csv"
node.to_csv(path_or_buf=nodefile, header = False, sep=",")

In [13]:
edge = df.select("iid","pid","match","wave")
edge = edge.toPandas()
edge

      iid  pid match wave
0       0   10     0    1
1       0   11     0    1
2       0   12     1    1
3       0   13     1    1
4       0   14     1    1
5       0   15     0    1
6       0   16     0    1
7       0   17     0    1
8       0   18     1    1
9       0   19     0    1
10      1   10     0    1
11      1   11     0    1
12      1   12     0    1
13      1   13     1    1
14      1   14     0    1
15      1   15     0    1
16      1   16     0    1
17      1   17     0    1
18      1   18     1    1
19      1   19     0    1
20      2   10     0    1
21      2   11     0    1
22      2   12     0    1
23      2   13     0    1
24      2   15     0    1
25      2   16     0    1
26      2   17     0    1
27      2   18     0    1
28      2   19     0    1
29      3   10     0    1
...   ...  ...   ...  ...
6656  534  498     0   21
6657  534  500     1   21
6658  534  501     0   21
6659  534  504     0   21
6660  534  505     1   21
6661  534  506     0   21
6662  534  507     0   21
6663  534  508     0   21
6664  534  509     0   21
6665  534  510     0   21
6666  534  511     0   21
6667  534  512     0   21
6668  534  513     0   21
6669  535  496     0   21
6670  535  497     1   21
6671  535  498     0   21
6672  535  499     1   21
6673  535  500     1   21
6674  535  501     0   21
6675  535  502     0   21
6676  535  504     0   21
6677  535  505     0   21
6678  535  506     0   21
6679  535  507     0   21
6680  535  508     1   21
6681  535  509     0   21
6682  535  510     0   21
6683  535  511     0   21
6684  535  512     0   21
6685  535  513     0   21

[6686 rows x 4 columns]

In [14]:
edgefile="/home/mf3200/Bigdataproject/edge_ori0.csv"
edge.to_csv(path_or_buf=edgefile, header = False, sep=",")

In [15]:
edgefile = spark.read.csv("/home/mf3200/Bigdataproject/edge_ori0.csv")
edge  = edgefile.toPandas()
edge

       _c0  _c1  _c2 _c3 _c4
0        0    0   10   0   1
1        1    0   11   0   1
2        2    0   12   1   1
3        3    0   13   1   1
4        4    0   14   1   1
5        5    0   15   0   1
6        6    0   16   0   1
7        7    0   17   0   1
8        8    0   18   1   1
9        9    0   19   0   1
10      10    1   10   0   1
11      11    1   11   0   1
12      12    1   12   0   1
13      13    1   13   1   1
14      14    1   14   0   1
15      15    1   15   0   1
16      16    1   16   0   1
17      17    1   17   0   1
18      18    1   18   1   1
19      19    1   19   0   1
20      20    2   10   0   1
21      21    2   11   0   1
22      22    2   12   0   1
23      23    2   13   0   1
24      24    2   15   0   1
25      25    2   16   0   1
26      26    2   17   0   1
27      27    2   18   0   1
28      28    2   19   0   1
29      29    3   10   0   1
...    ...  ...  ...  ..  ..
6656  6656  534  498   0  21
6657  6657  534  500   1  21
6658  6658  534  501   0  21
6659  6659  534  504   0  21
6660  6660  534  505   1  21
6661  6661  534  506   0  21
6662  6662  534  507   0  21
6663  6663  534  508   0  21
6664  6664  534  509   0  21
6665  6665  534  510   0  21
6666  6666  534  511   0  21
6667  6667  534  512   0  21
6668  6668  534  513   0  21
6669  6669  535  496   0  21
6670  6670  535  497   1  21
6671  6671  535  498   0  21
6672  6672  535  499   1  21
6673  6673  535  500   1  21
6674  6674  535  501   0  21
6675  6675  535  502   0  21
6676  6676  535  504   0  21
6677  6677  535  505   0  21
6678  6678  535  506   0  21
6679  6679  535  507   0  21
6680  6680  535  508   1  21
6681  6681  535  509   0  21
6682  6682  535  510   0  21
6683  6683  535  511   0  21
6684  6684  535  512   0  21
6685  6685  535  513   0  21

[6686 rows x 5 columns]

In [16]:
edgefile="/home/mf3200/Bigdataproject/edge_ori1.csv"
edge.to_csv(path_or_buf=edgefile, header = False, sep=",")