In [2]:
import findspark
findspark.init()

In [3]:
from pyspark.sql import SparkSession
from pyspark import SparkContext
from pyspark.sql import SQLContext
import pandas as pd
import pyspark.sql.functions as psf
from math import sqrt

In [4]:
# Build a SparkSession; SparkSession provides a single
spark = SparkSession\
        .builder\
        .appName("graph")\
        .getOrCreate()

In [5]:
df = spark.read.option("header", True).csv("Speed Dating Data.csv")
df = df.select("iid","pid","match","wave")
df = df.toPandas()

result = df[df.isnull().values==True]
print(result)

df = df.drop(df.index[[1756,1766,1776,1786,1796,1806,1816,1826,1836,1846]])

result = df[df.isnull().values==True]
print(result)

      iid   pid match wave
1756  122  None     0    5
1766  123  None     0    5
1776  124  None     0    5
1786  125  None     0    5
1796  126  None     0    5
1806  127  None     0    5
1816  128  None     0    5
1826  129  None     0    5
1836  130  None     0    5
1846  131  None     0    5
Empty DataFrame
Columns: [iid, pid, match, wave]
Index: []

In [6]:
df.head(10)

  iid pid match wave
0   1  11     0    1
1   1  12     0    1
2   1  13     1    1
3   1  14     1    1
4   1  15     1    1
5   1  16     0    1
6   1  17     0    1
7   1  18     0    1
8   1  19     1    1
9   1  20     0    1

In [8]:

df["iid"] = df['iid'].astype(int)
df["pid"] = df['pid'].astype(int)
df["iid"] = df["iid"] - 1
df["pid"] = df["pid"] - 1

In [9]:
df.head(10)

   iid  pid match wave
0    0   10     0    1
1    0   11     0    1
2    0   12     1    1
3    0   13     1    1
4    0   14     1    1
5    0   15     0    1
6    0   16     0    1
7    0   17     0    1
8    0   18     1    1
9    0   19     0    1

In [10]:
sc = spark.sparkContext
sqlContest = SQLContext(sc)
df = sqlContest.createDataFrame(df)

In [11]:
df1 = df[df["wave"] == 1]

In [12]:
dataset1 = df1.toPandas()
dataset1.head(500)

     iid  pid match wave
0      0   10     0    1
1      0   11     0    1
2      0   12     1    1
3      0   13     1    1
4      0   14     1    1
5      0   15     0    1
6      0   16     0    1
7      0   17     0    1
8      0   18     1    1
9      0   19     0    1
10     1   10     0    1
11     1   11     0    1
12     1   12     0    1
13     1   13     1    1
14     1   14     0    1
15     1   15     0    1
16     1   16     0    1
17     1   17     0    1
18     1   18     1    1
19     1   19     0    1
20     2   10     0    1
21     2   11     0    1
22     2   12     0    1
23     2   13     0    1
24     2   14     0    1
25     2   15     0    1
26     2   16     0    1
27     2   17     0    1
28     2   18     0    1
29     2   19     0    1
..   ...  ...   ...  ...
170   17    0     0    1
171   17    1     0    1
172   17    2     0    1
173   17    3     0    1
174   17    4     0    1
175   17    5     0    1
176   17    6     0    1
177   17    7     1    1
178   17    8     0    1
179   17    9     0    1
180   18    0     1    1
181   18    1     1    1
182   18    2     0    1
183   18    3     1    1
184   18    4     1    1
185   18    5     1    1
186   18    6     1    1
187   18    7     1    1
188   18    8     1    1
189   18    9     1    1
190   19    0     0    1
191   19    1     0    1
192   19    2     0    1
193   19    3     0    1
194   19    4     0    1
195   19    5     0    1
196   19    6     0    1
197   19    7     1    1
198   19    8     0    1
199   19    9     0    1

[200 rows x 4 columns]

In [13]:
node = df1.select("iid","wave")
node = node.toPandas()
node = node.drop_duplicates("iid", 'first')
node = node.sort_values(by='iid')
node

     iid wave
0      0    1
10     1    1
20     2    1
30     3    1
40     4    1
50     5    1
60     6    1
70     7    1
80     8    1
90     9    1
100   10    1
110   11    1
120   12    1
130   13    1
140   14    1
150   15    1
160   16    1
170   17    1
180   18    1
190   19    1

In [14]:
nodefile="/home/mf3200/Bigdataproject/node0(wave1).csv"
node.to_csv(path_or_buf=nodefile, header = False, sep=",")

In [15]:
nodefile = spark.read.csv("/home/mf3200/Bigdataproject/node0(wave1).csv")
node  = nodefile.toPandas()
node

    _c0 _c1 _c2
0     0   0   1
1    10   1   1
2    20   2   1
3    30   3   1
4    40   4   1
5    50   5   1
6    60   6   1
7    70   7   1
8    80   8   1
9    90   9   1
10  100  10   1
11  110  11   1
12  120  12   1
13  130  13   1
14  140  14   1
15  150  15   1
16  160  16   1
17  170  17   1
18  180  18   1
19  190  19   1

In [16]:
nodefile="/home/mf3200/Bigdataproject/node(wave1).csv"
node.to_csv(path_or_buf=nodefile, header = False, sep=",")

In [17]:
edge = df1.select("iid","pid","match","wave")
edge = edge.toPandas()
edge

     iid  pid match wave
0      0   10     0    1
1      0   11     0    1
2      0   12     1    1
3      0   13     1    1
4      0   14     1    1
5      0   15     0    1
6      0   16     0    1
7      0   17     0    1
8      0   18     1    1
9      0   19     0    1
10     1   10     0    1
11     1   11     0    1
12     1   12     0    1
13     1   13     1    1
14     1   14     0    1
15     1   15     0    1
16     1   16     0    1
17     1   17     0    1
18     1   18     1    1
19     1   19     0    1
20     2   10     0    1
21     2   11     0    1
22     2   12     0    1
23     2   13     0    1
24     2   14     0    1
25     2   15     0    1
26     2   16     0    1
27     2   17     0    1
28     2   18     0    1
29     2   19     0    1
..   ...  ...   ...  ...
170   17    0     0    1
171   17    1     0    1
172   17    2     0    1
173   17    3     0    1
174   17    4     0    1
175   17    5     0    1
176   17    6     0    1
177   17    7     1    1
178   17    8     0    1
179   17    9     0    1
180   18    0     1    1
181   18    1     1    1
182   18    2     0    1
183   18    3     1    1
184   18    4     1    1
185   18    5     1    1
186   18    6     1    1
187   18    7     1    1
188   18    8     1    1
189   18    9     1    1
190   19    0     0    1
191   19    1     0    1
192   19    2     0    1
193   19    3     0    1
194   19    4     0    1
195   19    5     0    1
196   19    6     0    1
197   19    7     1    1
198   19    8     0    1
199   19    9     0    1

[200 rows x 4 columns]

In [18]:
edgefile="/home/mf3200/Bigdataproject/edge0(wave1).csv"
edge.to_csv(path_or_buf=edgefile, header = False, sep=",")

In [19]:
edgefile = spark.read.csv("/home/mf3200/Bigdataproject/edge0(wave1).csv")
edge  = edgefile.toPandas()
edge

     _c0 _c1 _c2 _c3 _c4
0      0   0  10   0   1
1      1   0  11   0   1
2      2   0  12   1   1
3      3   0  13   1   1
4      4   0  14   1   1
5      5   0  15   0   1
6      6   0  16   0   1
7      7   0  17   0   1
8      8   0  18   1   1
9      9   0  19   0   1
10    10   1  10   0   1
11    11   1  11   0   1
12    12   1  12   0   1
13    13   1  13   1   1
14    14   1  14   0   1
15    15   1  15   0   1
16    16   1  16   0   1
17    17   1  17   0   1
18    18   1  18   1   1
19    19   1  19   0   1
20    20   2  10   0   1
21    21   2  11   0   1
22    22   2  12   0   1
23    23   2  13   0   1
24    24   2  14   0   1
25    25   2  15   0   1
26    26   2  16   0   1
27    27   2  17   0   1
28    28   2  18   0   1
29    29   2  19   0   1
..   ...  ..  ..  ..  ..
170  170  17   0   0   1
171  171  17   1   0   1
172  172  17   2   0   1
173  173  17   3   0   1
174  174  17   4   0   1
175  175  17   5   0   1
176  176  17   6   0   1
177  177  17   7   1   1
178  178  17   8   0   1
179  179  17   9   0   1
180  180  18   0   1   1
181  181  18   1   1   1
182  182  18   2   0   1
183  183  18   3   1   1
184  184  18   4   1   1
185  185  18   5   1   1
186  186  18   6   1   1
187  187  18   7   1   1
188  188  18   8   1   1
189  189  18   9   1   1
190  190  19   0   0   1
191  191  19   1   0   1
192  192  19   2   0   1
193  193  19   3   0   1
194  194  19   4   0   1
195  195  19   5   0   1
196  196  19   6   0   1
197  197  19   7   1   1
198  198  19   8   0   1
199  199  19   9   0   1

[200 rows x 5 columns]

In [20]:
edgefile="/home/mf3200/Bigdataproject/edge(wave1).csv"
edge.to_csv(path_or_buf=edgefile, header = False, sep=",")